#stations_status {
    width:300px;
    height:300px;
}
.status_row{
    height:100px;
}
.value{
    display:none;
}
td{
    text-align: center;
}

#data_table tbody .status_row:hover{
    background:#ffff99;
}

.even {
    background-color: red;
    
}

.odd{
    background-color:blue;
}
